.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  width: 270px;
  box-shadow: 0 0 10px black;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 500px) and (max-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card {
    width: 230px;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
